<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta charset="UTF-8" />
  <title>{% block title %}{% endblock %}</title>
  <link href="{{ STATIC_URL }}etherpad-lite/css/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js" ></script>
</head>

<body>
  <div id="nav"><nav>
    {% block nav %}
      {% if user.is_authenticated %}
      <a class="nav" href="/accounts/profile/">{% trans "profile" %}</a>
      <a class="nav" href="/logout">{% trans "logout" %}</a>
      {% endif %}
    {% endblock %}
  </nav></div>
  <div id="wrapper">
  {% block wrapper %}
    <div id="main">
       <div id="content">
        {% if messages %}
          <div id="messages">
          {% block messages %}
          {% for message in messages %}
          <div class="{{ message.class }}">
            <span class="mark">!</span>{{ message.text }}<span class="mark">!</span>
          </div>
          {% endfor %}
          {% endblock %}
          </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div id="sidebar"><aside>
        {% block sidebar %}{% endblock %}
      </aside></div>
      <div id="footer"><footer>
      </footer></div>
    </div>
  {% endblock %}
  </div>

</body>
</html>

