{% extends "etherpad-lite/base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{{name}}{% endblock %}

{% block content %}

<h1>{{name}}</h1>

  <div class='inliner'><h2>{% trans "PADS:" %}</h2></div>
  <div class='inliner'>
  {% for group, data in groups.items %}
    <h2>{{group}}</h2>
    <a class="action" href="{% url 'etherpadlite_manage_group' group %}">{% trans "Manage" %}</a>
    <a class="action act-del" href="{% url 'etherpadlite_delete_group' group %}">{% trans "Del" %}</a>
    <ul class="plain">
      {%for pad in data.pads%}
      <li><a href="{% url 'etherpadlite_view_pad' pad.id %}">{{pad.name}}</a><a class="action act-del" href="{% url 'etherpadlite_delete_pad' pad.id %}">{% trans "Del" %}</a></li>
      {%endfor%}
      <li><a class="action act-add" href="{% url 'etherpadlite_create_pad' data.group.id %}">{% trans "Add" %}</a></li>
    </ul>
  {% endfor %}
  <p><a class="action" href="{% url 'etherpadlite_create_group' %}">{% trans "Add a Group" %}</a></p>
  </div>

{% endblock %}
