<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//FR"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/etherpad-lite/css/style.css" rel="stylesheet">
</head>

<body>
  <div id="nav"><span id="navlinks">
    <a class="nav" href="/accounts/profile/">Profile</a>
    <a class="nav" href="/logout">Logout</a>
  </span></div>
  <div id="wrapper">
    {% block wrapper %}
    {% endblock %}
  <div id="main">
     <div id="content">
      {% if messages %}
        <div id="messages">
        {% block messages %}
        {% for message in messages %}
        <div class="{{ message.class }}">
          <span class="mark">!</span>{{ message.text }}<span class="mark">!</span>
        </div>
        {% endfor %}
        {% endblock %}
        </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <div id="sidebar">
      {% block sidebar %}{% endblock %}
    </div>
    <div id="footer">
    </div>
  </div></div>

</body>
</html>

